.rePassword {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5rem 0px;
    flex: 1;

}

.rePassword::before {
    content: "";
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/images/imagen-fondo-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    /* Ajusta el valor de opacidad solo para la imagen de fondo */
    z-index: 0;
    /* Coloca la imagen detrás de otros elementos */

}

.repassword__from {
    width: 100%;
    max-width: 550px;
    height: 250px;
    padding: 0.5rem;
    gap: 2rem;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
    /*background-color: #d7f6ff;*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}